/* ================================
   FORMULARIOS Y CAMPOS DE ENTRADA
   ================================ */
   input[type="submit"] {
    cursor: pointer;
  }
  
  #rcp_registration_form {
    padding: 5px;
  }
  
  
  .rcp_form {
    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }
  
    label {
      display: block;
      cursor: pointer;
      font-size: max($font-size-small, $font-size-medium);
    }
  
    .rcp_gateway_option_label {
      display: inline-block;
      margin-right: 10px;
    }
  
    input.required {
      color: $text-color;
    }
  
    p {
      margin: 0 0 10px;
      min-height: 20px;
  
      br {
        display: none;
      }
    }
  
    ul {
      margin: 0 0 15px;
      padding: 0;
  
      li {
        list-style: none;
        margin: 0 0 15px;
      }
    }
  
    #rcp_auto_renew_wrap {
      min-height: 30px;
    }
  
    .rcp_user_fieldset {
      input:not([type="checkbox"]):not([type="submit"]) {
        width: 100%;
        max-width: 400px;
        padding-block: 10px;
        border-radius: $border-radius;
      }
    }
  
    input[type="email"],
    input[type="password"],
    input[type="text"] {
      padding: 4px 8px;
      margin: 0;
      background-color: $background-light;
      border: 2px solid var(--wp--preset--color--contrast-3, #A4A4A4);
      border-radius: $border-radius;
      font-size: $font-size-medium;
      color: $text-color;
  
      &:focus {
        @include focus-style($primary-color);
      }
  
      &.error {
        @include focus-style($error-color);
      }
    }
  
    input[type="checkbox"] {
      float: left;
      margin: 7px 8px 0 0;
    }
  }
  
  /* ================================
     Subscription Level
     ================================ */
  .rcp_subscription_level {
    label {
      width: auto;
      display: inline-block;
    }
  
    .rcp_level {
      float: left;
      margin: 5px 10px 0 0;
    }
  }
  
  .rcp_message {
    margin: 0 0 15px;
  }
  
  .rcp_level_description {
    border-left: 1px solid var(--wp--preset--color--contrast-3, #A4A4A4);
    padding-left: 8px;
    font-size: var(--wp--preset--font-size--small, 12px);
  }
  
  .rcp_subscription_message {
    font-weight: 700;
  }
  
  /* ================================
     Table
     ================================ */
  .rcp-table-wrapper {
    width: auto;
    max-width: 1000px !important;
  
    body.twentytwentytwo-theme & {
      max-width: 900px;
    }
  
    body.twentytwentyone-theme & {
      max-width: 900px !important;
    }
  
    .rcp-table {
      th,
      td {
        border: none;
      }
  
      tbody + tbody {
        border-top: none;
      }
  
      tbody tr:hover > td,
      tbody tr:hover > th,
      tbody > tr:nth-child(odd) > td,
      tbody > tr:nth-child(odd) > th {
        background-color: transparent;
      }
    }
  
    #rcp-account-overview,
    #rcp-payment-history {
      width: 100%;
    }
  }
  
  .rcp-table {
    a {
      button {
        white-space: nowrap;
        margin-block: 5px;
        cursor: pointer;
        font-size: 0.8em;
      }
    }
  
    thead tr td {
      font-weight: 700;
    }
  
    #rcp-account-overview td,
    #rcp-account-overview th,
    #rcp-payment-history td,
    #rcp-payment-history th {
      vertical-align: top;
      padding-inline: 20px;
      text-align: left;
    }
  
    @media screen and (max-width: 900px) {
      tbody {
        display: block;
      }
  
      tr {
        display: block;
  
        td:before {
          margin-bottom: 3px;
          content: attr(data-title);
          min-width: 98px;
          font-size: 1rem;
          line-height: 10px;
          font-weight: 700;
          text-transform: uppercase;
          display: block;
        }
      }
  
      td {
        display: block;
        margin-bottom: 15px;
      }
    }
  }
  
  /* ================================
     Registration Form
     ================================ */
  .rcp_registration_total_details {
    .membership-amount {
      display: flex;
  
      p {
        font-weight: 700;
      }
    }
  
    tr {
      display: flex;
      justify-content: space-between;
      width: 400px;
      max-width: 100%;
      border-bottom: 1px solid var(--wp--preset--color--contrast, #222);
      padding-block: 10px;
    }
  
    .discounts-fees {
      font-weight: 700;
    }
  }
  
  .rcp-renewal-date p,
  .rcp-total p {
    font-weight: 700;
  }
  
  .membership-level-price div,
  .rcp-fee div {
    margin-left: 10px;
  }
  
  p.rcp_error {
    border-radius: $border-radius;
    border: 1px solid $error-color;
    margin: 0 0 10px;
    padding: 4px;
    background: #ffebe8;
    color: $text-color;
  
    span {
      margin: 0 !important;
      padding: 10px;
    }
  }
  
  p.rcp_success {
    border-radius: $border-radius;
    border: 1px solid $success-color;
    margin: 0 0 10px;
    padding: 4px;
    background: $background-light;
    color: $text-color;
  
    span {
      margin: 0 !important;
      padding: 10px;
    }
  }
  
  .rcp_gateway_braintree_fields {
    .rcp_braintree_billing_info {
      input[type="text"] {
        width: 30%;
      }
    }
  }
  