/* group accounts styles */
.group-members-section {
    display: flex;
    flex-direction: column;
}

.group-members-section ul {
    margin: 0;
    padding: 0;
}

.group-members-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
}
