.rcp_subscription_level label {
    width: auto;
    display: inline-block;
}

.rcp_subscription_level .rcp_level {
    float: left;
    margin: 5px 10px 0 0;
}

.rcp_level_description {
    border-left: 1px solid #f0f0f0;
    padding-left: 8px;
    font-size: 12px;
}

.rcp_subscription_message {
    font-weight: bold;
}


.rcp_message {
    margin: 0 0 15px;
}

.rcp_discount_valid {
    color: #42961e;
}

.rcp_discount_invalid {
    color: #b01000;
}
